<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <app-add-item [loadedGrocerItems]="loadedGrocerItems" (addItemEvent)="onAdd($event)"></app-add-item>
      <p *ngIf="loadedGrocerItems.length < 1 && !isFetching">No items available!</p>
      <ul class="list-group" *ngIf="loadedGrocerItems.length >= 1 && !isFetching">
        <app-display-item *ngFor="let groceryItem of loadedGrocerItems" [groceryItem]="groceryItem" (deleteItemEvent)="onDelete($event)"></app-display-item>
      </ul>
      <p *ngIf="isFetching && !error">Loading...</p>
      <div class="alert alert-danger" *ngIf="error">
        <h1>An Error Occurred!</h1>
        <p>{{ error }}</p>
      </div>
    </div>
  </div>
</div>
